/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.container{
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'kanan kiri';
  gap: 2px;
  justify-items: center;
  margin: auto;
} 

.container .kanan{
  grid-area: kanan;
  /* background-color: #61dafb; */
}

.container .kanan img{
  width:100% ;
  
}

.container .kanan .kanann{
  display: grid;
  grid-template-columns: fr 1fr;
  grid-template-areas: 'kanann1 kanann2';
  gap: 2px;
}

.container .kanan .kanann .kanann1{
  box-sizing: border-box;
  padding: 1rem;
}

.container .kanan .kanann .kanann1 h1{
 font-size: 40px;
 margin: 0rem;
}

.container .kanan .kanann .kanann2{
  box-sizing: border-box;
  padding: 1rem;
}
.container .kanan .kanann .kanann2 p{
  margin: 0rem;
}

.container .kanan .kanann .kanann2 button{
  margin: 0rem;
  box-sizing: border-box;
  padding: 12px;
  background-color: #ff5d33;
  color: #fff;
}


.container .kiri{
  grid-area: kiri;
  background-color: #05001a;
  color: #fff;
  box-sizing: border-box;
  padding: 1rem
}

.container .kiri h1{
  color: #df9c43;
}


.container2{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'k1 k2 k3';
  gap: 2px;
  /* justify-items: center; */
  margin: auto;
  margin-top: 4vh;
}

.container2 img{
 width: 50%;
}

.container2 .k1 .k1a, .container2 .k2 .k1a, .container2 .k3 .k1a{
  display: flex;
  margin: 0rem;
}

.k1a h2{
  margin: 0rem;
  color: #cbc5c9;
  margin-bottom: 1.2px;
  font-size: 32px;
}

.k1ab{
  box-sizing: border-box;
  padding: 0rem 2rem;
}
.k1a h5{
  margin: 0rem;
  /* color: #cbc5c9; */
  margin-bottom: 1.2px;
  font-size: 18px;
}